doctype 5
html(lang="en")
  head
    title Quizzy
    link(rel="stylesheet", href="index.css")
  body
    div#game-window
      div.answers-cnontainer
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man. Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
        div.answer-message
          div.avatar 
            img(src="images/avatar-2-500.png")
          div.answer-body Steve Austin: Astronaut. A man barely alive. Gentlemen... we can rebuild him. We have the technology. We have the capability to make the world's first bionic man.
      div#answer-cnontainer
        input
        button Submit