#main-container {
    height: 500px;
    margin-top: 10px;
}

#main-row {
    height: 100%;
}

#game-window {
    height: 100%;
    background: antiquewhite;
    border-radius: 5px;
}

#statistic-window {
    height: 70%;
    background: aliceblue;
    border-radius: 5px;
}

#game-title {
    width: 100%;
    height: 10%;
    text-align: center;
    margin: 0 auto;
}

#game-content {
    width: 100%;
    height: 76%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #ffffff;
    overflow-y: scroll;
}

#game-input {
    width: 100%;
    height: 10%;
}

.avatar {
    height: 20%;
    margin-top: 10px;
    border-bottom: 1px solid;
}

.message {
    height: 20%;
    margin-top: 10px;
    border-bottom: 1px solid;
}

img {
    width: 100%;
    height: 100%;
}

#statistics-title {
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
}

#leaders {
    height: 75%;
    width: 100%;
    margin: 0 auto;
    background: white;
}
/*
#container {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
}

#game-panel {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 0;
    margin-right: 5px;
}

#messages-window {
    height: 95%;
    position: relative;
    display: inline-block;
    background: beige;
    width: 100%;
}

#answers-input {
    position: relative;
    height: 5%;
    display: flex;
}
#answer-div {
    position: relative;
    width: 80%;
}
#button-div {
    position: relative;
    width: 20%;
}
#answer-field {
    width: 99%;
    position: relative;
    height: 24px;
    margin: 0;
}
#send-answer {
    width: 100%;
    margin: 0;
    height: 30px;
}
.avatar {
    width: 15%;
    height: 10%;
    display: inline-block;
}
.message {
    width: 85%;
    height: 10%;
    display: inline-block;
}
#statistics {
    width: 30%;
    height: 50%;
    position: relative;
    text-align: center;
    background: ivory;
    margin-left: 5px;
}
#title {
    width: 100%;
    padding: 10px 0px;
    position: relative;
}
#leaders {
    width: 100%;
    height: 80%;
}*/
