body {
    height: 100%;
}

#main-container {
    height: 500px;
    margin-top: 10px;
}

#main-row {
    height: 100%;
}

#game-window {
    height: 100%;
    background: antiquewhite;
    border-radius: 5px;
}

#leaders-panel{
    height: 50%;
    border: 1px solid antiquewhite;
}

#side-window {
    height: 100%;
    background: aliceblue;
    border-radius: 5px;
}

#game-title {
    width: 100%;
    height: 15%;
    text-align: center;
    margin: 0 auto;
}

#game-content {
    width: 100%;
    height: 71%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #ffffff;
    overflow-y: scroll;
}

#game-input {
    width: 100%;
    height: 10%;
    margin: 0 auto;
}

.avatar {
    height: 100%;
    text-align: center
    /*margin-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;*/
}

.message {
    height: 100%;
    /*margin-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;*/
}

img {
    width: 100%;
    height: 100%;
}

#statistics-title {
    height: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#online-title {
    height: 20%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#online-users-panel {
    height: 50%;
    border: 1px solid antiquewhite;
}

#side-window h3 {
    margin: 0;
    padding: 10px;
}

#leaders {
    height: 80%;
    width: 100%;
    margin: 0 auto;
    background: white;
}

#online-users{
    height: 80%;
    width: 100%;
    margin: 0 auto;
    background: white;
}

p {
    overflow-wrap: break-word;
}

#user-input-div {
    padding: 0;
}

#submit-answer-div {
    padding: 0;
}

#submit-answer {
    width: 100%;
}

#game-content .row {
    border-bottom: 1px solid;
    padding: 10px;
}

#dialog-container{
    position: absolute;
	width: 100%;
	height: 100%;
	float: left;
	background: black;
	left: 0;
	top: 0;
	margin: 0;
	display: flex;
}

#my-dialog {
   	border-radius: 5px;
    display: block;
    background-color: white;
    color: black;
    font-size: 16px;
    border: 1px solid gray;
    margin: 200 auto;
    width: 40%;
    height: 20%;
    margin: auto;
    text-align: center;
}

#nickname {
    width: 80%;
    display: inline-block;
}

#create-user {
    display: inline-block;
}
