#container {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
}

#game-panel {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 0;
    margin-right: 5px;
}

#messages-window {
    height: 95%;
    position: relative;
    display: inline-block;
    background: beige;
    width: 100%;
}

#answers-input {
    position: relative;
    height: 5%;
    display: flex;
}
#answer-div {
    position: relative;
    width: 80%;
}
#button-div {
    position: relative;
    width: 20%;
}
#answer-field {
    width: 99%;
    position: relative;
    height: 24px;
    margin: 0;
}
#send-answer {
    width: 100%;
    margin: 0;
    height: 30px;
}
.avatar {
    width: 15%;
    height: 10%;
    display: inline-block;
}
.message {
    width: 85%;
    height: 10%;
    display: inline-block;
}
#statistics {
    width: 30%;
    height: 50%;
    position: relative;
    text-align: center;
    background: ivory;
    margin-left: 5px;
}
#title {
    width: 100%;
    padding: 10px 0px;
    position: relative;
}
#leaders {
    width: 100%;
    height: 80%;
}